@use 'settings';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: settings.$gray-dark;
    padding: 1rem;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem;
}

.link {
    opacity: 50%;
    transition: .3s;
}

.link:hover {
    opacity: 100%;
}

.top_button {
    background: none;
    border: none;
    cursor: pointer;
}

.copy {
    color: settings.$primary;
    font-size: settings.$medium;
    padding-bottom: 1rem;
}

@media (max-width: 400px) {
    .links {
        gap: 1.5rem;
    }
}