@use 'settings';

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: settings.$gray-dark;
    height: 200px;
}