@use '../settings';

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 5rem;
}

.input_field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.text_field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 0 1rem;
}

.btn_container {
    margin: .5rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}