.container {
  height: 100vh;
  color: #fff;
  background-color: #0D1A21;
  padding: 5rem 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
