@use 'settings';

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1rem;
}

.embla {
    overflow: hidden;
  }

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    flex: 0 0 100%;
}