// Import Fonts
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/fonts/Poppins/Poppins-Thin.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/fonts/Poppins/Poppins-ExtraLight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/fonts/Poppins/Poppins-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(/fonts/Poppins/Poppins-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: local('Caveat'), url(/fonts/Caveat/Caveat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

//Fonts
$sans-serif: 'Poppins', sans-serif;
$hand: 'Caveat', sans-serif;

//Font Sizes
$small: 10px;
$medium: 14px;
$regular: 18px;
$large: 24px;
$xl: 32px;
$xxl: 48px;

//Colors
$primary: #ffffff;
$secondary: #EBFF00;
$black: #111111;
$background-dark:#0D1A21;
$background-light:#EAEAEA;
$gray-light:#999999;
$gray-med:#666666;
$gray-dark:#333333;
