@use 'settings';

html,
body {
  padding: 0;
  margin: 0;
  font-family: settings.$sans-serif;
  font-size: settings.$regular;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: settings.$xxl;
}

label {
  font-size: settings.$regular;
  font-weight: 200;
}

input {
  font-size: settings.$regular;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: .5rem;
}

textarea {
  min-height: 80%;
  font-size: settings.$regular;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none; 
  padding: .5rem;
}